<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Макет</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background: #E9E9E9;
        }

        #main_text {
            font-size: 24px;
        }

        #columns div.col {
            background: #fff;
            padding: 40px;
            margin: 10px;
        }

        #notify_box {
            padding: 10px;
        }

        #footer {
            padding: 40px
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111534223-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111534223-1');
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="" onclick="scroll(0,0);">Title/Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">ПРО НАС</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">ПОСЛУГИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">СТАТТІ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">ВІДГУКИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">КОНТАКТИ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <section id="main_text">
            <br>
            <br>
            <br>
            <p class="text-center">Наша компанія - Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quibusdam est maxime unde quis
                laudantium asperiores, doloribus.</p>
        </section>

        <section id='columns'>
            <div class="row text-center">
                <div class="col">
                    <h3>Заголовок</h3>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eos maiores minus earum porro animi
                        officia commodi unde asperiores soluta nulla corrupti accusamus, sunt, ullam at corporis fugiat ipsam
                        aut.
                    </p>
                    <a href="" class="btn btn-block btn-outline-secondary">КНОПКА</a>
                </div>
                <div class="col">
                    <h3>Заголовок</h3>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eos maiores minus earum porro animi
                        officia commodi unde asperiores soluta nulla corrupti accusamus, sunt, ullam at corporis fugiat ipsam
                        aut.
                    </p>
                    <a href="" class="btn btn-block btn-outline-secondary">КНОПКА</a>
                </div>
                <div class="col">
                    <h3>Заголовок</h3>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eos maiores minus earum porro animi
                        officia commodi unde asperiores soluta nulla corrupti accusamus, sunt, ullam at corporis fugiat ipsam
                        aut.
                    </p>
                    <a href="" class="btn btn-block btn-outline-secondary">КНОПКА</a>
                </div>
            </div>
        </section>
    </div>
    <br>
    <div id="notify_box" class="bg-warning">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-dark lead text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ut blanditiis perspiciatis numquam nulla
                    culpa fugit ratione mollitia!.</div>
                <div class="col-lg">
                    <a href="" class="btn btn-block btn-outline-light">Я кнопка, мені добре</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="bg-dark text-light text-center lead">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <i class="fa fa-telegram">Telegram &nbsp;</i>
                    <i class="fa fa-skype">Skype &nbsp;</i>
                    <i class="fa fa-home">Lorem &nbsp;</i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ostap34js.github.io/js/bootstrap-native-v4.min.js"></script>
</body>

</html>